#aktivacije-wrapper {
  .slide-item {
    position: relative;

    .slide-name {
      position: absolute;
      bottom: 10%;
      color: #fff;
      left: 5%;
      font-size: 2.5em;
      font-weight: 500;
      letter-spacing: 2px;
      padding: .5rem 1.5rem;
      background-color: rgba(95, 94, 94, 0.5);
    }

    .slide-content {
      display:none;
    }
  }
}
